<html>
  <head>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no' name='viewport'>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: lightgray;
        display: flex;
        justify-content: center;
      }
    </style>
    <script src="./magiceye.min.js" type="text/javascript"></script>
    <script src="./TextDepthMapper.js" type="text/javascript"></script>
  </head>
  <body>
    <img id="canvas" width="300px" height='300px' src/>
  </body>
  <footer>
      <script type="text/javascript">
        // document.addEventListener("message", function(data) {
          var canvas = document.getElementById('canvas');
          MagicEye.render({
            el: 'canvas',
            depthMapper: new MagicEye.TextDepthMapper("Hello World")
          })
        // });
      </script>
  </footer>
</html>
